.draw_container{
	display:block;
	margin-top: 50px; 
	display: block;
	position: relative;
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.4);
	padding:20px;
}
.draw_container .title{
	font-size: 17px;
	display: block;
	margin-top: 10px;
	padding-bottom: 25px;

}
.draw_container .editor{

	display:inline-block;
	border: 1px solid #cacaca;
	padding: 5px;
	height: 400px;
	width: 500px;

}
.draw_container .editor .CodeMirror{
	width: 100% !important;
	height: 80% !important;
	resize: none;
	border: none;
}

.draw_container .editor .output_bottom{
	width: 100% !important;
	height: 20% !important;
	padding:10px;
}