.popover {
	background-color: #f2dede;
	color: #a94442;
	border-color: #ebccd1;
}

.popover-title {
	background-color: #f2dede;
	color: #a94442;
	border-color: #ebccd1;
	font-weight: bold;
}

.popover.bottom .arrow:after {
	border-bottom-color: #f2dede;
}

#info_profil_navbar {
	display: none;
}

#login_navbar {
	display: none;
}

#register_pane td {
	padding-right: 20px;
	padding-top: 5px;
}

nav .glyphicon {
	font-size: 1.7em;
	color: white;
	margin-right: 20px;
}

#grid-container {
	height: 75vh;
}

#toolbox {
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#toolbox input {
	margin-top: 10px;
}

#game_pane {
	margin-left: 20px;
	margin-right: 20px;
}

#execute {
	font-size: 1.3em;
    width: 140px;
}

.level-list .panel-body  {
	position: relative;
	height: 50vh;
	overflow: auto
}
