.popover {
	background-color: #f2dede;
	color: #a94442;
	border-color: #ebccd1;
}

.popover-title {
	background-color: #f2dede;
	color: #a94442;
	border-color: #ebccd1;
	font-weight: bold;
}

.popover.bottom .arrow:after {
	border-bottom-color: #f2dede;
}

#info_profil_navbar {
	display: none;
}

#login_navbar {
	display: none;
}

#register_pane td {
	padding-right: 20px;
	padding-top: 5px;
}

nav .glyphicon {
	font-size: 1.7em;
	color: white;
	margin-left: 20px;
}

#grid-container {
	height: 75vh;
}

#toolbox {
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 0px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#toolbox input {
	margin-top: 10px;
}

#game_pane {
	margin-left: 20px;
	margin-right: 20px;
}

#execute {
	font-size: 1.3em;
    width: 140px;
}

#speed {
    margin-top:200px;
}

.level-list .panel-body  {
	//position: relative;
	//height: 50vh;
	//overflow: auto
}

#game_pane nav {
	float:right;
}

#game_pane nav ul {
	margin: 0;
}
.col-execute-button {
    padding-left:10px;
    width:140px;
    float:left;
}

.col-speed {
    width:calc(100% - 145px);
    margin-left:5px;
}

#remaining_instructions {
    text-align: center;
}


#sidebar li > a {
	padding: 0;
	padding-left: 4px;
	padding-right: 4px;
}

body {
	position: relative;
}

.profil_picture {
	width: 40px;
	height: 40px;
	margin-right: 10px;
}

.profil_picture_search {
	width: 20px;
	height: 20px;
	margin-right: 10px;
}

#row-theme {
    padding-top: 5px;
}

#message_box {
    border-radius: 5px;
    padding: 5px;
    background: rgba(220, 220, 220, 0.9);
    position: absolute;
    left: 0px;
    top: 0px;
    display: none;
}

#conv-history ul {
	height: 45vh;
    overflow: auto;
}

#conv-history hr {
	margin-top: 5px;
	margin-bottom: 5px;
}

#conv-history li {
	margin-top: 5px;
}

#connected-users-panel ul {
	height: 45vh;
    overflow: auto;
}

#preview {
	position: fixed;
	top: 0px;
	left: 0px;
}

#list-editor .panel {
	margin: 0;
}

#profile_pane .panel {
	margin-right: 60px;
}

.panel {
	padding: 0px;
}

.info {
	font-size: 0.84em;
	color: gray;
}

canvas {
	-webkit-user-select: none;
	-moz-user-select: none;
	user-select: none;
}

.instructionsList , .connectedList{
	min-height: 42px;
}

.form-inline .form-group input {
	width: 69px;
}

.panel button {
	margin: 5px;
}

.form-horizontal .control-label {
	text-align: left;
}

#avatar {
    height: 100%
    width: 100%;
    max-width: 200px;
    max-height: 200px;

}

ul {
	list-style-type: none;
}
.dropCarte {
    margin: 50px 10px 10px 50px;
    width: 400px;
    height: 250px;
    background-color: #babdb6;
    border: 1px solid #111;
    
    border-radius: 10px;
    transition: all 200ms linear;
}
.dragCarte {
    margin: 50px 10px 10px 50px;
    width: 400px;
    height: 250px;
    background-color: #ffffff;
    border: 1px solid #111;
    
    border-radius: 10px;
    transition: all 200ms linear;
}
