.popover {
	background-color: #f2dede;
	color: #a94442;
	border-color: #ebccd1;
}

.popover-title {
	background-color: #f2dede;
	color: #a94442;
	border-color: #ebccd1;
	font-weight: bold;
}

.popover.bottom .arrow:after {
	border-bottom-color: #f2dede;
}

#info_profil_navbar {
	display: none;
}

#login_navbar {
	display: none;
}

#register_pane td {
	padding-right: 20px;
	padding-top: 5px;
}

.glyphicon {
	font-size: 1.7em;
	color: white;
	margin-right: 20px;
}

#grid-container {
	height: 60vh;
}

#grid {
	width: 100%;
}

#control-container {
	height: 60vh;
}

#control-container div {
	width: 100%;
	height: 100%;
}

.level-list .panel-body  {
	position: relative;
	height: 50vh;
	overflow: auto
}